Primer paso: Importación de pandas

In [161]:
import pandas as pd

Se importan los datasets

In [162]:
games = pd.read_csv("data/games.csv")
champs = pd.read_csv("data/champs.csv")

Pequeña visualización de los datasets importados

In [163]:
games.head(5)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

In [164]:
champs.head(5)

       name   id
0       Jax   24
1      Sona   37
2  Tristana   18
3     Varus  110
4     Fiora  114

Game Id nos sirve de índice, al igual que el id de champs. Por ello, los convertiré en sus respectivos índices

In [165]:
games = games.set_index('gameId')
champs = champs.set_index('id')

Previsualización de las primeras líneas para ver si se ha cumplido correctamente

In [166]:
games.head(1)

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,...,5,0,0,1,1,114,67,43,16,51

In [167]:
champs.head(1)

   name
id
24  Jax

Siguiente paso: Eliminación de las columnas superfluas

In [168]:
# El resto de columnas me las quedaré por si acaso
games = games.drop(['seasonId'], axis=1)

Paso siguiente: Detección de NA's

In [169]:
games.isna().any()

creationTime          False
gameDuration          False
winner                False
firstBlood            False
firstTower            False
firstInhibitor        False
firstBaron            False
firstDragon           False
firstRiftHerald       False
t1_champ1id           False
t1_champ1_sum1        False
t1_champ1_sum2        False
t1_champ2id           False
t1_champ2_sum1        False
t1_champ2_sum2        False
t1_champ3id           False
t1_champ3_sum1        False
t1_champ3_sum2        False
t1_champ4id           False
t1_champ4_sum1        False
t1_champ4_sum2        False
t1_champ5id           False
t1_champ5_sum1        False
t1_champ5_sum2        False
t1_towerKills         False
t1_inhibitorKills     False
t1_baronKills         False
t1_dragonKills        False
t1_riftHeraldKills    False
t1_ban1               False
t1_ban2               False
t1_ban3               False
t1_ban4               False
t1_ban5               False
t2_champ1id           False
t2_champ1_sum1        False
t2_champ1_sum2        False
t2_champ2id           False
t2_champ2_sum1        False
t2_champ2_sum2        False
t2_champ3id           False
t2_champ3_sum1        False
t2_champ3_sum2        False
t2_champ4id           False
t2_champ4_sum1        False
t2_champ4_sum2        False
t2_champ5id           False
t2_champ5_sum1        False
t2_champ5_sum2        False
t2_towerKills         False
t2_inhibitorKills     False
t2_baronKills         False
t2_dragonKills        False
t2_riftHeraldKills    False
t2_ban1               False
t2_ban2               False
t2_ban3               False
t2_ban4               False
t2_ban5               False
dtype: bool

Siguiente paso: Conversión del tiempo Unix en fecha legible

In [170]:
games.creationTime = pd.to_datetime(games.creationTime, unit='ms')

In [171]:
games.head(2)

,creationTime,gameDuration,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_champ1id,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,2017-09-01 15:24:17.970,1949,1,2,1,1,1,1,2,8,...,5,0,0,1,1,114,67,43,16,51
3229566029,2017-06-19 05:06:43.862,1851,1,1,1,1,0,1,1,119,...,2,0,0,0,0,11,67,238,51,420

Ahora tenemos todos los datos sin NA's, la fecha convertida, las columnas innecesarias de primeras quitadas, y los dataframes correctamente indexados

Siguiente paso: Sustitución del número de los campeones por el nombre de los campeones en sí

In [172]:
games = games.merge(champs, left_on='t1_champ1id', right_on='id', how='left' )
games = games.merge(champs, left_on='t1_champ2id', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_c1", "name_y": "t1_c2"})

games = games.merge(champs, left_on='t1_champ3id', right_on='id', how='left' ) 
games = games.merge(champs, left_on='t1_champ4id', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_c3", "name_y": "t1_c4"})

games = games.merge(champs, left_on='t1_champ5id', right_on='id', how='left' )
games = games.merge(champs, left_on='t2_champ1id', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_c5", "name_y": "t2_c1"})

games = games.merge(champs, left_on='t2_champ2id', right_on='id', how='left' ) 
games = games.merge(champs, left_on='t2_champ3id', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t2_c2", "name_y": "t2_c3"})

games = games.merge(champs, left_on='t2_champ4id', right_on='id', how='left' ) 
games = games.merge(champs, left_on='t2_champ5id', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t2_c4", "name_y": "t2_c5"})

# Ahora que tenemos todo renombrado y bonito, podemos eliminar las columnas que nos han servido para joinear

games = games.drop(['t1_champ1id', 't1_champ2id', 't1_champ3id', 't1_champ4id', 't1_champ5id',
                    't2_champ1id', 't2_champ2id', 't2_champ3id', 't2_champ4id', 't2_champ5id'],
                   axis=1)

In [173]:
games.head(1)

,creationTime,gameDuration,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_champ1_sum1,...,t1_c1,t1_c2,t1_c3,t1_c4,t1_c5,t2_c1,t2_c2,t2_c3,t2_c4,t2_c5
0,2017-09-01 15:24:17.970,1949,1,2,1,1,1,1,2,12,...,Vladimir,Bard,KogMaw,Master Yi,Viktor,Graves,Xayah,Darius,Zed,Thresh

Ahora se tiene que hacer lo mismo con las summoner spells

In [174]:
summonerSpells = pd.read_json("data/summoner_spell_info.json")

summonerSpells = summonerSpells.drop(['version', 'type'], axis=1)

summonerSpells.head(2)

                                                 data
1   {'id': 1, 'summonerLevel': 6, 'name': 'Cleanse...
11  {'id': 11, 'summonerLevel': 10, 'name': 'Smite...

In [183]:
summonerSpells = summonerSpells.data

In [191]:
summonerSpells

1     {'id': 1, 'summonerLevel': 6, 'name': 'Cleanse...
11    {'id': 11, 'summonerLevel': 10, 'name': 'Smite...
12    {'id': 12, 'summonerLevel': 6, 'name': 'Telepo...
13    {'id': 13, 'summonerLevel': 1, 'name': 'Clarit...
14    {'id': 14, 'summonerLevel': 10, 'name': 'Ignit...
21    {'id': 21, 'summonerLevel': 4, 'name': 'Barrie...
3     {'id': 3, 'summonerLevel': 4, 'name': 'Exhaust...
30    {'id': 30, 'summonerLevel': 1, 'name': 'To the...
31    {'id': 31, 'summonerLevel': 1, 'name': 'Poro T...
32    {'id': 32, 'summonerLevel': 1, 'name': 'Mark',...
33    {'id': 33, 'summonerLevel': 1, 'name': 'Nexus ...
34    {'id': 34, 'summonerLevel': 1, 'name': 'Nexus ...
35    {'id': 35, 'summonerLevel': 1, 'name': 'Disabl...
36    {'id': 36, 'summonerLevel': 1, 'name': 'Disabl...
4     {'id': 4, 'summonerLevel': 8, 'name': 'Flash',...
6     {'id': 6, 'summonerLevel': 1, 'name': 'Ghost',...
7     {'id': 7, 'summonerLevel': 1, 'name': 'Heal', ...
Name: data, dtype: object