Primer paso: Importación de pandas

In [90]:
import pandas as pd

Se importan los datasets

In [91]:
games = pd.read_csv("data/games.csv")
champs = pd.read_csv("data/champs.csv")

Pequeña visualización de los datasets importados

In [92]:
games.head(5)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

In [93]:
champs.head(5)

       name   id
0       Jax   24
1      Sona   37
2  Tristana   18
3     Varus  110
4     Fiora  114

Game Id nos sirve de índice, al igual que el id de champs. Por ello, los convertiré en sus respectivos índices

In [94]:
games = games.set_index('gameId')
champs = champs.set_index('id')

Previsualización de las primeras líneas para ver si se ha cumplido correctamente

In [95]:
games.head(1)

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,...,5,0,0,1,1,114,67,43,16,51

In [96]:
champs.head(1)

   name
id
24  Jax

Siguiente paso: Eliminación de las columnas superfluas

In [97]:
# El resto de columnas me las quedaré por si acaso
games = games.drop(['seasonId'], axis=1)

Paso siguiente: Detección de NA's

In [98]:
games.isna().any()

creationTime          False
gameDuration          False
winner                False
firstBlood            False
firstTower            False
firstInhibitor        False
firstBaron            False
firstDragon           False
firstRiftHerald       False
t1_champ1id           False
t1_champ1_sum1        False
t1_champ1_sum2        False
t1_champ2id           False
t1_champ2_sum1        False
t1_champ2_sum2        False
t1_champ3id           False
t1_champ3_sum1        False
t1_champ3_sum2        False
t1_champ4id           False
t1_champ4_sum1        False
t1_champ4_sum2        False
t1_champ5id           False
t1_champ5_sum1        False
t1_champ5_sum2        False
t1_towerKills         False
t1_inhibitorKills     False
t1_baronKills         False
t1_dragonKills        False
t1_riftHeraldKills    False
t1_ban1               False
t1_ban2               False
t1_ban3               False
t1_ban4               False
t1_ban5               False
t2_champ1id           False
t2_champ1_sum1        False
t2_champ1_sum2        False
t2_champ2id           False
t2_champ2_sum1        False
t2_champ2_sum2        False
t2_champ3id           False
t2_champ3_sum1        False
t2_champ3_sum2        False
t2_champ4id           False
t2_champ4_sum1        False
t2_champ4_sum2        False
t2_champ5id           False
t2_champ5_sum1        False
t2_champ5_sum2        False
t2_towerKills         False
t2_inhibitorKills     False
t2_baronKills         False
t2_dragonKills        False
t2_riftHeraldKills    False
t2_ban1               False
t2_ban2               False
t2_ban3               False
t2_ban4               False
t2_ban5               False
dtype: bool

Siguiente paso: Conversión del tiempo Unix en fecha legible

In [99]:
games.creationTime = pd.to_datetime(games.creationTime, unit='ms')

In [100]:
games.head(2)

,creationTime,gameDuration,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_champ1id,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,2017-09-01 15:24:17.970,1949,1,2,1,1,1,1,2,8,...,5,0,0,1,1,114,67,43,16,51
3229566029,2017-06-19 05:06:43.862,1851,1,1,1,1,0,1,1,119,...,2,0,0,0,0,11,67,238,51,420

Ahora tenemos todos los datos sin NA's, la fecha convertida, las columnas innecesarias de primeras quitadas, y los dataframes correctamente indexados

Siguiente paso: Sustitución del número de los campeones por el nombre de los campeones en sí

In [101]:
games = games.merge(champs, left_on='t1_champ1id', right_on='id', how='left' )
games = games.merge(champs, left_on='t1_champ2id', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_c1", "name_y": "t1_c2"})

games = games.merge(champs, left_on='t1_champ3id', right_on='id', how='left' ) 
games = games.merge(champs, left_on='t1_champ4id', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_c3", "name_y": "t1_c4"})

games = games.merge(champs, left_on='t1_champ5id', right_on='id', how='left' )
games = games.merge(champs, left_on='t2_champ1id', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_c5", "name_y": "t2_c1"})

games = games.merge(champs, left_on='t2_champ2id', right_on='id', how='left' ) 
games = games.merge(champs, left_on='t2_champ3id', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t2_c2", "name_y": "t2_c3"})

games = games.merge(champs, left_on='t2_champ4id', right_on='id', how='left' ) 
games = games.merge(champs, left_on='t2_champ5id', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t2_c4", "name_y": "t2_c5"})

# Ahora que tenemos todo renombrado y bonito, podemos eliminar las columnas que nos han servido para joinear

games = games.drop(['t1_champ1id', 't1_champ2id', 't1_champ3id', 't1_champ4id', 't1_champ5id',
                    't2_champ1id', 't2_champ2id', 't2_champ3id', 't2_champ4id', 't2_champ5id'],
                   axis=1)

In [102]:
games.head(1)

,creationTime,gameDuration,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_champ1_sum1,...,t1_c1,t1_c2,t1_c3,t1_c4,t1_c5,t2_c1,t2_c2,t2_c3,t2_c4,t2_c5
0,2017-09-01 15:24:17.970,1949,1,2,1,1,1,1,2,12,...,Vladimir,Bard,KogMaw,Master Yi,Viktor,Graves,Xayah,Darius,Zed,Thresh

Ahora se tiene que hacer lo mismo con las summoner spells

In [103]:
summonerSpells = pd.read_json("data/summoner_spell_info.json")
summonerSpells = summonerSpells.transpose()
summonerSpells = summonerSpells.set_index("id")

# Se borran las columnas innecesarias

summonerSpells = summonerSpells.drop(['description', 'key', 'summonerLevel'], axis=1)

summonerSpells.head(2)

       name
id
1   Cleanse
3   Exhaust

In [104]:
# Una vez que se tiene el dataset correctamente hecho, se procede como en la vez anterior para poner los nombres en vez de los códigos

games = games.merge(summonerSpells, left_on='t1_champ1_sum1', right_on='id', how='left' )
games = games.merge(summonerSpells, left_on='t1_champ1_sum2', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_c1_s1", "name_y": "t1_c1_s2"})

games = games.merge(summonerSpells, left_on='t1_champ2_sum1', right_on='id', how='left' )
games = games.merge(summonerSpells, left_on='t1_champ2_sum2', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_c2_s1", "name_y": "t1_c2_s2"})

games = games.merge(summonerSpells, left_on='t1_champ3_sum1', right_on='id', how='left' )
games = games.merge(summonerSpells, left_on='t1_champ3_sum2', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_c3_s1", "name_y": "t1_c3_s2"})

games = games.merge(summonerSpells, left_on='t1_champ4_sum1', right_on='id', how='left' )
games = games.merge(summonerSpells, left_on='t1_champ4_sum2', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_c4_s1", "name_y": "t1_c4_s2"})

games = games.merge(summonerSpells, left_on='t1_champ5_sum1', right_on='id', how='left' )
games = games.merge(summonerSpells, left_on='t1_champ5_sum2', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_c5_s1", "name_y": "t1_c5_s2"})

games = games.merge(summonerSpells, left_on='t2_champ1_sum1', right_on='id', how='left' )
games = games.merge(summonerSpells, left_on='t2_champ1_sum2', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t2_c1_s1", "name_y": "t2_c1_s2"})

games = games.merge(summonerSpells, left_on='t2_champ2_sum1', right_on='id', how='left' )
games = games.merge(summonerSpells, left_on='t2_champ2_sum2', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t2_c2_s1", "name_y": "t2_c2_s2"})

games = games.merge(summonerSpells, left_on='t2_champ3_sum1', right_on='id', how='left' )
games = games.merge(summonerSpells, left_on='t2_champ3_sum2', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t2_c3_s1", "name_y": "t2_c3_s2"})

games = games.merge(summonerSpells, left_on='t2_champ4_sum1', right_on='id', how='left' )
games = games.merge(summonerSpells, left_on='t2_champ4_sum2', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t2_c4_s1", "name_y": "t2_c4_s2"})

games = games.merge(summonerSpells, left_on='t2_champ5_sum1', right_on='id', how='left' )
games = games.merge(summonerSpells, left_on='t2_champ5_sum2', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t2_c5_s1", "name_y": "t2_c5_s2"})

# Ahora que se tiene todo renombrado y bonito, se pueden eliminar las columnas que nos han servido para joinear

games = games.drop(['t1_champ1_sum1', 't1_champ1_sum2', 't1_champ2_sum1', 't1_champ2_sum2',
                    't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4_sum1', 't1_champ4_sum2',
                    't1_champ5_sum1', 't1_champ5_sum2', 't2_champ1_sum1', 't2_champ1_sum2',
                    't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3_sum1', 't2_champ3_sum2',
                    't2_champ4_sum1', 't2_champ4_sum2', 't2_champ5_sum1', 't2_champ5_sum2'],
                   axis=1)

games.head(1)

,creationTime,gameDuration,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_towerKills,...,t2_c1_s1,t2_c1_s2,t2_c2_s1,t2_c2_s2,t2_c3_s1,t2_c3_s2,t2_c4_s1,t2_c4_s2,t2_c5_s1,t2_c5_s2
0,2017-09-01 15:24:17.970,1949,1,2,1,1,1,1,2,11,...,Smite,Flash,Flash,Heal,Ghost,Flash,Ignite,Flash,Flash,Exhaust

Ahora hay que hacer lo mismo con los bans de ambos equipos, volviendo al dataframe de los champs

In [107]:
games = games.merge(champs, left_on='t1_ban1', right_on='id', how='left' )
games = games.merge(champs, left_on='t1_ban2', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_b1", "name_y": "t1_b2"})

games = games.merge(champs, left_on='t1_ban3', right_on='id', how='left' ) 
games = games.merge(champs, left_on='t1_ban4', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_b3", "name_y": "t1_b4"})

games = games.merge(champs, left_on='t1_ban5', right_on='id', how='left' )
games = games.merge(champs, left_on='t2_ban1', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t1_b5", "name_y": "t2_b1"})

games = games.merge(champs, left_on='t2_ban2', right_on='id', how='left' ) 
games = games.merge(champs, left_on='t2_ban3', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t2_b2", "name_y": "t2_b3"})

games = games.merge(champs, left_on='t2_ban4', right_on='id', how='left' ) 
games = games.merge(champs, left_on='t2_ban5', right_on='id', how='left' )

games = games.rename(columns={"name_x": "t2_b4", "name_y": "t2_b5"})

# Ahora que tenemos todo renombrado y bonito, podemos eliminar las columnas que nos han servido para joinear

games = games.drop(['t1_ban1', 't1_ban2', 't1_ban3', 't1_ban4', 't1_ban5',
                    't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4', 't2_ban5'],
                   axis=1)

games.head(1)

,creationTime,gameDuration,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_towerKills,...,t1_b1,t1_b2,t1_b3,t1_b4,t1_b5,t2_b1,t2_b2,t2_b3,t2_b4,t2_b5
0,2017-09-01 15:24:17.970,1949,1,2,1,1,1,1,2,11,...,Riven,Janna,Cassiopeia,Draven,Kayn,Fiora,Vayne,Karma,Soraka,Caitlyn

Conversión de los datos categóricos en dicho tipo

In [109]:
for col in ['winner', 'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon', 'firstRiftHerald',
            't1_c1', 't1_c2', 't1_c3', 't1_c4', 't1_c5', 't2_c1', 't2_c2', 't2_c3', 't2_c4', 't2_c5',
            't1_b1', 't1_b2', 't1_b3', 't1_b4', 't1_b5', 't2_b1', 't2_b2', 't2_b3', 't2_b4', 't2_b5',
            't1_c1_s1', 't1_c1_s2', 't1_c2_s1', 't1_c2_s2', 't1_c3_s1', 't1_c3_s2', 't1_c4_s1', 't1_c4_s2', 't1_c5_s1', 't1_c5_s2',
            't2_c1_s1', 't2_c1_s2', 't2_c2_s1', 't2_c2_s2', 't2_c3_s1', 't2_c3_s2', 't2_c4_s1', 't2_c4_s2', 't2_c5_s1', 't2_c5_s2']:
    
    games[col] = games[col].astype('category')
    
games.dtypes

creationTime          datetime64[ns]
gameDuration                   int64
winner                      category
firstBlood                  category
firstTower                  category
firstInhibitor              category
firstBaron                  category
firstDragon                 category
firstRiftHerald             category
t1_towerKills                  int64
t1_inhibitorKills              int64
t1_baronKills                  int64
t1_dragonKills                 int64
t1_riftHeraldKills             int64
t2_towerKills                  int64
t2_inhibitorKills              int64
t2_baronKills                  int64
t2_dragonKills                 int64
t2_riftHeraldKills             int64
t1_c1                       category
t1_c2                       category
t1_c3                       category
t1_c4                       category
t1_c5                       category
t2_c1                       category
t2_c2                       category
t2_c3                       category
t2_c4                       category
t2_c5                       category
t1_c1_s1                    category
t1_c1_s2                    category
t1_c2_s1                    category
t1_c2_s2                    category
t1_c3_s1                    category
t1_c3_s2                    category
t1_c4_s1                    category
t1_c4_s2                    category
t1_c5_s1                    category
t1_c5_s2                    category
t2_c1_s1                    category
t2_c1_s2                    category
t2_c2_s1                    category
t2_c2_s2                    category
t2_c3_s1                    category
t2_c3_s2                    category
t2_c4_s1                    category
t2_c4_s2                    category
t2_c5_s1                    category
t2_c5_s2                    category
t1_b1                       category
t1_b2                       category
t1_b3                       category
t1_b4                       category
t1_b5                       category
t2_b1                       category
t2_b2                       category
t2_b3                       category
t2_b4                       category
t2_b5                       category
dtype: object

Los datos ahora están correctamente categorizados

In [129]:
games.to_csv(r'data/games_clean.csv')

ANÁLISIS DE LOS DATOS

1) Campeones más utilizados

In [174]:
dict = {}
for columna in games.columns[19: ]:
    if(columna in ('t1_c1', 't1_c2', 't1_c3', 't1_c4', 't1_c5', 't2_c1', 't2_c2', 't2_c3', 't2_c4', 't2_c5')):
        dict[columna] = games[columna].value_counts()

champs_used = dict["t1_c1"] + dict["t1_c2"] + dict["t1_c3"] + dict["t1_c4"] + dict["t1_c5"] + dict["t2_c1"] + dict["t2_c2"] + dict["t2_c3"] + dict["t2_c4"] + dict["t2_c5"]
    
champs_used

Aatrox            753
Ahri             6316
Akali            2949
Alistar          3476
Amumu            2312
Anivia           2252
Annie            3277
Ashe             5391
Aurelion Sol      841
Azir             1280
Bard             3733
Blitzcrank       6847
Brand            3876
Braum            3744
Caitlyn          6776
Camille          1886
Cassiopeia       2766
ChoGath          4175
Corki            2449
Darius           3894
Diana            3079
DrMundo          1567
Draven           5081
Ekko             4866
Elise            2607
Evelynn          1616
Ezreal           5337
Fiddlesticks     1739
Fiora            3078
Fizz             3468
                ...
Taric            2586
Teemo            4144
Thresh          13002
Tristana        12983
Trundle          1958
Tryndamere       4083
Twisted Fate     3590
Twitch           8838
Udyr             1113
Urgot            2365
Varus            2887
Vayne           10658
Veigar           3914
VelKoz           3187
Vi               3002
Viktor           1769
Vladimir         3203
Volibear         1198
Warwick          5851
Wukong           2167
Xayah            7843
Xerath           1695
Xin Zhao         3245
Yasuo            7872
Yorick           1378
Zac              2508
Zed              6460
Ziggs            2313
Zilean           1451
Zyra             2355
Length: 138, dtype: int64